* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}
/*###################*/
/* WORKSPACES */
/*###################*/
#workspaces button {
    padding: 0px;
    margin: 5px 4px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}
#workspaces button.persistent {
    color: #ffffff;
}
#workspaces button.empty {
    color: #404040;
}
#workspaces button.visible {
    color: rgba(242, 143, 173, 1);;
    transition: all 0.3s ease-in-out;
    /* background: rgba(242, 143, 173, 1);; */
    /* min-width: 60px; */
}
#workspaces button.urgent {
    color: #eb4d4b;
}
#workspaces button:hover {
    color: rgba(242, 143, 173, 1);
}
/*###################*/
#window,
#workspaces {
    margin: 0 4px;
    /* font-size: 96px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
tooltip {
    background-color: #282c34;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
}
tooltip label {
    color: #ffffff;
    font-size: 16px;
    padding: 0.5rem 0.7rem;
}


#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#network,
#language {
    padding: 0 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
#pulseaudio {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

#battery {
    margin-right: 10px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
    margin: 2px 5px;
    border-radius: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 2px 5px;
    border-radius: 5px;
}

label:focus {
    background-color: #000000;
}

/*###################*/
/* Network */
/*###################*/
#network.disconnected {
    background-color: #f53c3c;
    color: #ffffff;

    /* animation-name: blink; */
    /* animation-duration: 0.9s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate-reverse; */

    margin: 2px 5px;
    border-radius: 5px;
}
